{% extends 'base.html' %}

{% block css %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker.css' %}">
{% endblock %}

{% block content %}
{% load staticfiles %}
<h3><i class="fa fa-angle-right"></i> Animales</h3>

{% if not object %}
<div class="wizard">
    <a href="/animal/add/step/1/"><span class="badge">1</span> Datos del propietario</a>
    <a class="current"><span class="badge">2</span> Datos generales</a>
    <a><span class="badge">3</span> Finalizar e imprimir</a>
</div>
{% endif %}

<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <div class="content-panel-header">
        <h4>
          <i class="fa fa-angle-right"></i>
          Datos generales
        </h4>
      </div>
      {% load widget_tweaks %}
      <form id="form" action="" method="POST" class="row" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
        <input type="hidden" name="owner" value="{{ owner }}">
        <div class="col-md-6 form-group {% if form.name.errors %} has-error {% endif %}">
          <label for="id_name">Nombre</label>
          {{ form.name|add_class:"form-control"|attr:"placeholder:Nombre del animal" }}
          {% for error in form.name.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="col-md-6 form-group">
          <label for="kind">Especie</label>
          {% if object %}
          {{ form.kind|add_class:"form-control"|attr:"disabled" }}
          <input type="hidden" name="kind" value="{{ form.kind.value }}"/>
          {% else %}
          {{ form.kind|add_class:"form-control" }}
          {% endif %}
        </div>
        <div class="col-md-6 form-group {% if form.breed.errors %} has-error {% endif %}">
          <label for="id_breed">Raza</label>
          {{ form.breed|add_class:"form-control" }}
          {% for error in form.breed.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="col-md-6 form-group {% if form.parish.errors %} has-error {% endif %}">
          <label for="id_parish">Parroquia de residencia</label>
          {% if object %}
          {{ form.parish|add_class:"form-control"|attr:"disabled" }}
          <input type="hidden" name="parish" value="{{ form.parish.value }}"/>
          {% else %}
          {{ form.parish|add_class:"form-control" }}
          {% endif %}
          {% for error in form.parish.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>            
        <div class="col-md-6 form-group {% if form.birthday.errors %} has-error {% endif %}">
          <label for="id_birthday">Fecha de nacimiento</label>
          {{ form.birthday|add_class:"form-control datepicker" }}
          {% for error in form.birthday.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
       
        
        <div class="col-md-6 form-group {% if form.primary_color.errors %} has-error {% endif %}">
          <label for="id_primary_color">Color primario</label>
          {{ form.primary_color|add_class:"form-control"|attr:"placeholder:Color primario del animal" }}
          {% for error in form.primary_color.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="col-md-6 form-group {% if form.secondary_color.errors %} has-error {% endif %}">
          <label for="id_secondary_color">Color secundario</label>
          {{ form.secondary_color|add_class:"form-control"|attr:"placeholder:Color secundario del animal" }}
          {% for error in form.secondary_color.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="col-md-6 form-group {% if form.gender.errors %} has-error {% endif %}">
          <label for="id_gender">Sexo</label>
          {% if object %}
          {{ form.gender|add_class:"form-control"|attr:"disabled" }}
          <input type="hidden" name="gender" value="{{ form.gender.value }}"/>          
          {% else %}
          {{ form.gender|add_class:"form-control" }}
          {% endif %}
          {% for error in form.gender.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div> 

        <div class="col-md-6 form-group {% if form.weight.errors %} has-error {% endif %}">
          <label for="id_weight">Peso (kg)</label>
          {{ form.weight|add_class:"form-control"|attr:"placeholder:Peso en kilogramos del animal" }}
          {% for error in form.weight.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>  

        <div class="col-md-2 form-group">
          <label for="id_is_vaccinated">Esta vacunado?</label>
          {{ form.is_vaccinated|attr:"style:display:block" }}
        </div>                      

        <div class="col-md-2 form-group">
          <label for="id_is_sterilized">Esta esterilizado?</label>
          {{ form.is_sterilized|attr:"style:display:block" }}
        </div>   

        <div class="col-md-2 form-group">
          <label for="id_want_sterilize">Desea esterilizar?</label>
          {{ form.want_sterilize|attr:"style:display:block" }}
        </div>    

        <div class="col-md-12 form-group">
          <label for="id_image">Foto</label>
          {{ form.image|add_class:"form-control" }}
        </div> 

        {% if object %}
        <div class="col-xs-12 form-group">
          <label for="id_is_dead">Esta fallecido?</label>
          {{ form.is_dead|attr:"style:display:block" }}
        </div>
        {% endif %}       

        <div class="col-xs-12 form-group">
          <label for="contraindications">Contraindicaciones</label>
          {{ form.contraindications|add_class:"form-control"|attr:"rows:5"|attr:"placeholder:Observaciones necesarias"}}
          {% for error in form.contraindications.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      </form>
      
      <form id="delete" action="/animal/{{ object.id }}/delete/" method="POST">{% csrf_token %}</form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" form="form" class="btn btn-primary">
            <i class="fa fa-check"></i> {% if not object %} Continuar {% else %} Guardar {% endif %}
          </button>
          {% if object %}          
          <button type="submit" form="delete" class="btn btn-danger">
            <i class="fa fa-close"></i> Eliminar
          </button> 
          {% endif %}  
        </div>

      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}

{% block js %}
  {% load staticfiles %}
  <script src="{% static 'plugins/datepicker/datepicker.js' %}"></script>  
  <script src="{% static 'assets/js/animal-2.js' %}"></script>
{% endblock %}