{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<h3><i class="fa fa-angle-right"></i> Razas</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <div class="content-panel-header">
        <h4>
          <i class="fa fa-angle-right"></i>
          Listado
        </h4>
        <a href="/breed/add/" class="btn btn-sm btn-primary pull-right col-xs-2">
          <i class="fa fa-plus-circle"></i> Agregar
        </a>
      </div>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Especie</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for breed in object_list %}
          <tr>
            <td name="kind" class="col-xs-4">{{ breed.kind.name | upper }}</td>
            <td name="name" class="col-xs-6">{{ breed.name | upper }}</td>
            <td class="col-xs-2">
              <a href="/breed/{{breed.id}}/update" class="btn btn-xs btn-default">
                <span class="fa fa-pencil"></span>
              </a>
              <a href="/breed/{{breed.id}}/delete" class="btn btn-xs btn-default">
                <span class="fa fa-remove"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
</div>
{% endblock%}