<!DOCTYPE html>
<html lang="es">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Fauna urbana</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/fonts/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <section id="container" >
      <!--header start-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="#" class="logo"><b>FURB</b></a>
        <!--logo end-->
      </header>
      <!--header end-->

      <!--sidebar start-->
      <aside>

        <div id="sidebar"  class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
        	  <p class="centered">
              <a href="profile.html"><img src="{% static 'assets/img/default-user.png' %}" class="img-circle" width="60"></a>
            </p>
        	  <h5 class="centered">{{ user.username }}</h5>            
            <li class="mt">            
              <a {% if request.path == '/' %} class="active" {% endif %} href="/">
                <i class="fa fa-home"></i>
                <span>Home</span>
              </a>
            </li>            

            <li class="sub-menu">
              <a {% if 'kind' in request.path or 'breed' in request.path or 'animal' in request.path %} class="active" {% endif %} href="#" >
                <i class="fa fa-paw"></i>
                <span>Fauna</span>
              </a>
              <ul class="sub">
                <li {% if 'kind' in request.path %} class="active" {% endif %}><a href="/kind/">Especies</a></li>
                <li {% if 'breed' in request.path %} class="active" {% endif %}><a href="/breed/">Razas</a></li>
                <li {% if 'animal' in request.path %} class="active" {% endif %}><a href="/animal/">Animales</a></li>
              </ul>
            </li>

            <li class="sub-menu">
              <a href="#" >
                <i class="fa fa-print"></i>
                <span>Reportes</span>
              </a>
              <ul class="sub">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
              </ul>
            </li>

            <li class="sub-menu">
              <a href="#" >
                <i class="fa fa-user"></i>
                <span>Cuenta</span>
              </a>
              <ul class="sub">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
              </ul>
            </li>

            <li class="sub-menu">
              <a href="/logout/" >
                <i class="fa fa-sign-out"></i>
                <span>Salir</span>
              </a>              
            </li>
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          {% block content %}
          {% endblock %}
		    </section>
      </section>
      <!--main content end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>

    <!--common script for all pages-->
    <script src="{% static 'assets/js/common-scripts.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
