{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<h3><i class="fa fa-angle-right"></i> SISTEMA DE CONTROL Y REGISTRO DE FAUNA URBANA</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <div class="content-panel-header">
        <h4>
          <i class="fa fa-angle-right"></i>
          Página de inicio           
        </h4>        
      </div>      
      <div class="text-center">
        <h3>
          BIENVENIDO
          {% if user.get_full_name%}
            {{ user.get_full_name | upper }}
          {% else %}
            {{ user.username | upper }}
          {% endif %}
        </h3>
        <img height="50" src="{% static 'assets/img/logo_macas.png' %}">
        <div class="row" style="margin-top: 50px">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="col-sm-4">
              <a href="/kind/" class="btn btn-default btn-block btn-menu">
                <span class="fa fa-paw"></span>
                <strong>Especies</strong>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="/breed/" class="btn btn-default btn-block btn-menu">
                <span class="fa fa-paw"></span>
                <strong>Razas</strong>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="/animal/" class="btn btn-default btn-block btn-menu">
                <span class="fa fa-paw"></span>
                <strong>Animales</strong>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="#" class="btn btn-default btn-block btn-menu">
                <span class="fa fa-print"></span>
                <strong>Reportes</strong>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="#" class="btn btn-default btn-block btn-menu">
                <span class="fa fa-user"></span>
                <strong>Cuenta</strong>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="/logout/" class="btn btn-default btn-block btn-menu">
                <span class="fa fa-sign-out"></span>
                <strong>Salir</strong>
              </a>
            </div>
          </div>          
        </div>        
      </div>
    </div>
  </div>
</div>
{% endblock%}