<h3><i class="fa fa-angle-right"></i> Razas</h3>
<div ng-hide="breed" class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <div class="content-panel-header">
        <h4>
          <i class="fa fa-angle-right"></i>
          Listado
        </h4>
        <a ng-click="edit()" class="btn btn-sm btn-primary pull-right col-xs-2">
          <i class="fa fa-plus-circle"></i> Agregar
        </a>
      </div>
      <table datatable="ng" class="table table-striped">
        <thead>
          <tr>
            <th>Especie</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="breed in breeds">
            <td name="kind" class="col-xs-4">{{ breed.kind_name }}</td>
            <td name="name" class="col-xs-6">{{ breed.name }}</td>
            <td name="actions" id="{{ breed.id }}" class="col-xs-2">
              <button ng-click="edit(breed)" class="btn btn-xs btn-default">
                <span class="fa fa-pencil"></span>
              </button>
              <button ng-click="remove(breed)" class="btn btn-xs btn-default">
                <span class="fa fa-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div ng-show="breed" class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <div class="content-panel-header">
        <h4>
          <i class="fa fa-angle-right"></i>
          Datos de la raza
        </h4>
      </div>
      <form name="form" novalidate>
        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.kind.$touched) && form.kind.$invalid}">
          <label for="kind">Especie</label>
          <select id="kind" name="kind" ng-model="breed.kind" class="form-control"
            ng-options="kind.id as kind.name for kind in kinds" required>
            <option value="">--- Seleccionar ---</option>
          </select>
          <span ng-if="(form.$submitted || form.kind.$touched) && form.kind.$invalid" class="help-block">La especie es requerida</span>
        </div>

        <div class="form-group" ng-class="{'has-error': (form.$submitted || form.name.$touched) && form.name.$invalid}">
          <label for="name">Nombre</label>
          <input id="name" name="name" ng-model="breed.name" type="text" class="form-control" placeholder="Raza de la especie" required>
          <span ng-if="(form.$submitted || form.name.$touched) && form.name.$invalid" class="help-block">El nombre es requerido</span>
        </div>
      </form>

      <button type="submit" form="form" ng-hide="breed.id" ng-click="create()" class="btn btn-primary">
        <i class="fa fa-check"></i> Guardar
      </button>
      <button ng-show="breed.id" ng-click="update()" class="btn btn-primary">
        <i class="fa fa-check"></i> Guardar
      </button>
      <button ng-show="breed.id" ng-click="delete()" class="btn btn-danger">
        <i class="fa fa-trash"></i> Eliminar
      </button>
      <button ng-click="reset()" type="button" class="btn btn-link">Regresar</button>
    </div>
  </div>
</div>

<div ng-include="'static/partials/modal-delete.html'"></div>
